<!DOCTYPE HTML>
<html prefix='og: http://ogp.me/ns#'>
	<head>
    <meta content='IE=edge' http-equiv='X-UA-Compatible'>
    <meta charset='utf-8'>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta content='Conceptable' property='og:title'>
    <meta content='website' property='og:type'>
    <meta content='https://www.conceptable.net' property='og:url'>
    <meta content='https://www.conceptable.net/images/conceptable-logo.png' property='og:image'>
		<title>Conceptable - www.conceptable.net</title>
		<link rel="stylesheet" href="style.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101685-11"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-101685-11');
    </script>
	</head>
	<body>
    <header class="hero">
      <nav class="brand-menu">
        <a href="https://www.conceptable.net">
          <img class="conceptable-logo" src="images/conceptable-logo.png" srcset="images/conceptable-logo@2x.png 2x, images/conceptable-logo@3x.png 3x" alt="Conceptable">
        </a>
      </nav>
      <div class="mission-statement">
        {{ &mission_statement }}
      </div>
    </header>

    <section class="our-services">
      <header>
        {{ &service_heading }}
      </header>
      <div class="service-list">
        <article class="service-desc">{{ &service_first }}</article>
        <article class="service-desc">{{ &service_second }}</article>
        <article class="service-desc">{{ &service_third }}</article>
      </div>
    </section>

    <section class="our-customers">
      <header>
        {{ &customer_heading }}
      </header>
      <div class="customer-list">
        <div class="description">
          {{ &customer_desc }}
        </div>
        <div class="customer-logos">
          {{ &customer_logos }}
        </div>
      </div>
    </section>

    <div class="hk-weather">
      <section class="hk-weather-brand">
        <a href="https://itunes.apple.com/au/app/hong-kong-weather/id286262858?mt=8" target="_blank">
          <img class="hk-weather-logo" src="images/hkweather.png" />
        </a>
      </section>
      <section class="hk-weather-summary">
        <header>
          {{ &hk_weather_title }}
        </header>
        <div class="description">
          {{ &hk_weather_desc }}
          <a href="https://itunes.apple.com/au/app/hong-kong-weather/id286262858?mt=8" target="_blank">
            <img class="download-hk-weather" src="images/download-hkweather.png" />
          </a>
        </div>
      </section>
    </div>

    <div class="about-and-contact-us">
      <section class="about-us">
        <header>
          {{ &about_us_heading }}
        </header>
        <div class="description">
          {{ &about_us_desc }}
        </div>
      </section>

      <section class="contact-us">
        <header>
          {{ &contact_us_heading }}
        </header>
        <form class="form" action="https://formspree.io/enquiry@conceptable.net" method="post">
          <div class="form-group">
            <label for="name">Name</label>
            <input name="name" type="text">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input name="email" type="email">
          </div>
          <div class="form-group">
            <label for="message">Enquiry</label>
            <textarea name="message" rows="6"></textarea>
          </div>
          <div class="form-group">
            <button type="submit">Send Enquiry</button>
          </div>
        </form>
      </section>
    </div>

    <footer class="copyright">
      {{ &copyright }}
    </footer>
	</body>
</html>