<!DOCTYPE HTML>
<html>
	<head>
		<title>Conceptable</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
    <header class="hero">
      <nav class="brand-menu">
        <a href="https://www.conceptable.net">
          <img src="images/conceptable_logo.png">
        </a>
      </nav>
      <div class="mission-statement">
        {{ &mission_statement }}
      </div>
    </header>

    <section class="our-services">
      <header>
        {{ &service_heading }}
      </header>
      <div class="service-list">
        <article class="service-desc">{{ &service_first }}</article>
        <article class="service-desc">{{ &service_second }}</article>
        <article class="service-desc">{{ &service_third }}</article>
      </div>
    </section>

    <section class="our-customers">
      <header>
        {{ &customer_heading }}
      </header>
      <div class="customer-list">
        <div class="description">
          {{ &customer_desc }}
        </div>
        <div class="customer-logos">
          {{ &customer_logos }}
        </div>
      </div>
    </section>

    <div class="about-and-contact-us">
      <section class="about-us">
        <header>
          {{ &about_us_heading }}
        </header>
        <div class="description">
          {{ &about_us_desc }}
        </div>
      </section>

      <section class="contact-us">
        <header>
          {{ &contact_us_heading }}
        </header>
        <form class="form" action="https://formspree.io/enquiry@conceptable.net" method="post">
          <div class="form-group">
            <label for="name">Contact</label>
            <input name="name" type="text">
          </div>
          <div class="form-group">
            <label for="email">Email</label>
            <input name="email" type="email">
          </div>
          <div class="form-group">
            <label for="message">Enquiry</label>
            <textarea name="message" rows="6"></textarea>
          </div>
          <div class="form-group">
            <button type="submit">Send Enquiry</button>
          </div>
        </form>
      </section>
    </div>

    <footer class="copyright">
      {{ &copyright }}
    </footer>
	</body>
</html>