.hero {
  @extend %section-content;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 500px;
  background-image:
    linear-gradient(rgba(75, 75, 93, 0.75), rgba(75, 75, 93, 0.85)),
    url(images/banner.jpg);
  background-size: cover;
  background-position: center;

  .brand-menu {
    flex: 0 auto;
  }

  .mission-statement {
    flex: 0 100%;
  }
}

.brand-menu {
  padding: 38px 0 19px 0;
  border-bottom: solid 1px #979797;

  .conceptable-logo {
    height: 27px;
  }

  @media screen and (min-width: 600px) {
    padding: 38px 0 26px 0;
  }
}

.mission-statement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  color: #ffffff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

  h1 {
    font-size: 42px;
    font-weight: 600;
    margin-bottom: 20px;
  }
}