.our-customers {
  @extend %section-content;
  background-color: #fff;
  color: #4a4a4a;

  .customer-list {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 600px) {
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }

  .description {
    @media screen and (min-width: 600px) {
      flex-grow: 1;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      margin-bottom: 40px;
      align-self: center;
    }

    img {
      max-height: 50px;
      max-width: 125px;
    }

    @media screen and (min-width: 600px) {
      flex-grow: 2;
      justify-content: center;
      align-content: flex-start;
      margin-left: 20px;

      li {
        margin: 0 15px 40px 15px;
      }
    }
  }
}